batch/stepfunctions-lambda-batch-jobwaittime
{
  "Comment": "Sasaki ETL Lambda Batch - job array + Map (sequential)",
  "StartAt": "InitBatchContext",
  "States": {
    "InitBatchContext": {
      "Type": "Pass",
      "Comment": "バッチ共通コンテキストを作成（scheduled_time, job_category, jobs配列）",
      "Parameters": {
        "scheduled_time.$": "$.scheduled_time",
        "job_category.$": "$.job_category",
        "jobs": {
          "Items": [
            { "job_type": "order_summary" },
            { "job_type": "inventory_update" },
            { "job_type": "report_generation" }
          ]
        }
      },
      "ResultPath": "$",
      "Next": "RunJobs"
    },

    "RunJobs": {
      "Type": "Map",
      "Comment": "jobs配列を順次処理（MaxConcurrency=1）",
      "ItemsPath": "$.jobs.Items",
      "MaxConcurrency": 1,
      "Parameters": {
        "scheduled_time.$": "$.scheduled_time",
        "job_category.$": "$.job_category",
        "job_type.$": "$$.Map.Item.Value.job_type",
        "retry_count.$": "$$.State.RetryCount"
      },
      "Iterator": {
        "StartAt": "InvokeJobLambda",
        "States": {
          "InvokeJobLambda": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Comment": "job_typeごとに batch-etl-lambda を呼び出す",
            "Parameters": {
              "FunctionName": "batch-etl-lambda",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [ "States.ALL" ],
                "IntervalSeconds": 5,
                "MaxAttempts": 2,
                "BackoffRate": 2.0
              }
            ],
            "ResultSelector": {
              "lambdaResult.$": "$.Payload"
            },
            "ResultPath": "$.lambda",
            "Catch": [
              {
                "ErrorEquals": [ "States.ALL" ],
                "ResultPath": "$.error",
                "Next": "JobFailed"
              }
            ],
            "Next": "JobSucceeded"
          },

          "JobSucceeded": {
            "Type": "Succeed",
            "Comment": "1ジョブ分の処理が成功"
          },

          "JobFailed": {
            "Type": "Fail",
            "Comment": "1ジョブ分の処理が失敗",
            "Error": "JobFailed",
            "Cause": "Job failed inside Map iterator."
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "ResultPath": "$.batch_error",
          "Next": "BatchFailed"
        }
      ],
      "Next": "BatchSucceeded"
    },

    "BatchSucceeded": {
      "Type": "Succeed",
      "Comment": "全ジョブ成功時にバッチ成功"
    },

    "BatchFailed": {
      "Type": "Fail",
      "Comment": "いずれかのジョブが失敗した場合にバッチ全体を失敗として終了",
      "Error": "BatchFailed",
      "Cause": "One or more jobs in the batch failed."
    }
  }
}
